<section id="partners">
  <div class="container">

    <div class="cem-partners">
      <h4 class="col-md-3 center-no-float partners-header">
        <span>Parceiros Institucionais</span>
      </h4>
    </div>

    <div class="row">
      {% for partner in site.data.partners %}
      {% if partner.pic %}
      <div class="col-md-4 wide-logo vcenter">
        {% if partner.name == "vsc" %}
          <a target="_blank" href="{{ partner.link }}"> {% image 'sponsors/{{partner.pic}}' class: 'vsc-img img-responsive' %} </a>
          {% else %}
          <a target="_blank" href="{{ partner.link }}"> {% image 'sponsors/{{partner.pic}}' class:'hcenter img-responsive' %} </a>
        {% endif %}
      </div>
      {% endif %}
      {% endfor %}
    </div>
</div>
</section>
