<footer>
  <div class="container">
    <div class="col-md-12">
      <p>Made with ❤ by <a href="https://github.com/a-sac" target="_blank">Sérgio Costa</a>, <a href="https://github.com/joanafalcato" target="_blank">Joana Coelho</a> e <a href="https://github.com/ZePedroResende" target="_blank">Zé Pedro Resende</a>. </p>

      <a target="_blank" href="https://www.facebook.com/HackathonHeartbits"><i class="fa fa-facebook fa-2x"></i></a>

      <a target="_blank" href="https://www.instagram.com/compengminho/"><i class="fa fa-instagram fa-2x"></i></a>

    </div>

  </div>
</footer>
