<section id="aboutwhite">
  <div class="container">
      <div class="col-md-9 icons-space vcenter">
        <i class="fa fa-puzzle-piece fa-5x" aria-hidden="true"></i>
        <h4>O que é?</h4>
        <h6> A Competição de Engenharia do Minho é uma maratona de 24 horas onde uma equipa multidisciplinar de 5 estudantes de Engenharia desenvolve um produto ou serviço inovador que dê resposta a um problema atual no funcionamento da Universidade do Minho.</br>
          Esta solução será no final apresentada a um painel multidisciplinar que irá distinguir equipas vencedoras.</h6>
      </div>

    </div>
</section>

<section id="aboutgray">
  <div class="container">
      <div class="col-md-5 icons-space vcenter">
        <i class="fa fa-map-o fa-5x vcenter" aria-hidden="true"></i>
        <h4>Quando e Onde ocorre?</h4>
        <h6>No Complexo Desportivo de Azurém, do dia 13 às 8h30 até às 14h30 do dia 14 de Outubro de 2018.</h6>
      </div>
      <div class="col-md-5 icons-space vcenter">
          <i class="fa fa-graduation-cap fa-5x" aria-hidden="true"></i>
          <h4>Quem pode participar?</h4>
          <h6>Estudantes de Engenharia, do ensino público ou privado, ligados às áreas de Biomédica, Eletrónica, Gestão Industrial, Informática, Materiais, Mecânica, Polímeros, Telecomunicações.
          No entanto, os estudantes da Universadade do Minho têm prioridade na obtenção de vagas.</h6>
      </div>
  </div>
</section>

<section id="aboutwhite">
  <div class="container">
    <div class="col-md-9 icons-space vcenter">
      <i class="fa fa-pencil-square-o fa-5x" aria-hidden="true"></i>
      <h4>Tenho de me inscrever em equipa?</h4>
      <h6>As inscrições podem ser feitas individualmente, ou em equipas de 5 elementos no máximo. Como o objetivo é a interação entre os diversos cursos, não pode haver mais de 2 elementos do mesmo curso em cada equipa. Elementos que não formem uma equipa completa serão adicionados a outras equipas.</h6>
    </div>
  </div>
</section>
<section id="aboutgray">
  <div class="container">
          <div class="col-md-7 icons-space vcenter">
            <i class="fa fa-question-circle fa-5x" aria-hidden="true"></i>
            <h4>Mais informações</h4>
            <h6> <!--Consulte o
              <a href="http://heartbits.pt/regulamento.pdf">regulamento</a>  ou contacte-nos no
              <a href="https://www.facebook.com/HackathonHeartbits/">Facebook</a>. -->
              Contacta-nos no <a href="https://www.facebook.com/compengminho/">Facebook</a>.
            </h6>
          </div>
  </div>
</section>
