#honorshead
  background-attachment: fixed
  background-image: url(image_path("backgrounds/escola_engenharia.png"))
  background-position: center center
  background-repeat: none
  -webkit-background-size: cover
  -moz-background-size: cover
  background-size: cover
  -o-background-size: cover
  height: 100%
  padding-top: 50px
  color: black
  .section-title-container
    text-align: center
    margin-top: 50px
    color: #fafafa
  .schedule-title
    border: 2px solid #EAEAEA
    border-radius: 4px
    padding: 5px
    color: #fafafa
  .honor-text
    text-align: center
    color: #fafafa

#schedule
    width: 80%
    border-spacing: 8px
    padding: 6px
    text-align: center
    font-family: "Lato"
    position: center center
    margin-left: auto
    margin-right: auto

    th
      color: #fafafa
      border: 1px solid #34333B
      background-color: transparentize(#EF3E34, 0.1)
      font-size: 1.2em
      text-align: center

    .hour
      color: #fafafa
      background-color: transparentize(#34333B,0.1)
      border: 1px solid #34333B
      font-size: 1.1em

    .activity
      color: #34333B
      background-color: transparentize(#E3E1E4, 0.2)
      border: 1px solid #34333B
      font-size: 1.1em

    .project
      color: #fafafa
      background-color: transparentize(#34333B,0.1)
      border: 1px solid #34333B
      font-size: 1.1em

#honorsbody
  background-size: cover
  background-color: #E3E1E4
  background-attachment: scroll
  font-size: 1.2em
  font-family: "Lato"
  width: 100%
  height: auto
  text-align: center
  color: #222
  display: block
  background-position: center center
  background-repeat: none
  -webkit-background-size: cover
  -moz-background-size: cover
  background-size: cover
  -o-background-size: cover
  &.gray
    background-color: rgba(255,255,255,0.8)

  .member-img
    border-radius: 100%
    width: 300px
    height: 300px
    margin: auto
    background-size: cover
  .member-info
    text-align: center
    display: table-cell
    vertical-align: middle
    padding: 0px 20px
    margin: auto
  .member-name
    color: #EF3E34
    font-size: 24px
    line-height: 1.5
  .company-name
    text-transform: none
    color: #EF3E34
    font-size: 18px
    line-height: 1.5
  .realcompany-name
    text-transform: none
    color: black
    font-size: 16px
    line-height: 1
  .honor-job
    text-transform: none
    font-size: 18px
    line-height: 1.5
    font-weight: 500
  .honor-bio
    text-align: justify
    text-justify: inter-word
    line-height: 1.5
  .honor-comment
    margin: 20px 0px
    text-align: justify
    text-justify: inter-word
  .section-title-container
    text-align: center
    margin-top: 50px
    color: #EF3E34
  .workshop-title
    border: 2px solid #EF3E34
    border-radius: 4px
    padding: 5px
    color: #EF3E34