#cem-organisation
  padding: 100px 0
  background-image: url(image_path("backgrounds/escola_engenharia.png"))
  background-repeat: none
  -webkit-background-size: cover
  -moz-background-size: cover
  background-size: cover
  -o-background-size: cover
  .cem-partners
    width: 100%

  .flex-wrapper
    padding-top: 67px

  .netium-img
    width: 120px
    height: 120px

  .gaeb-img
    width: 140px
    height: 100px
