<section id="countdown">
  <h1>Inscreve-te!</h1>
  <div id="clockdiv">
    <div>
      <span class="daysSpan">00</span>
      <div class="smalltext">Dias</div>
    </div>
    <div>
      <span class="hoursSpan">00</span>
      <div class="smalltext">Horas</div>
    </div>
    <div>
      <span class="minutesSpan">00</span>
      <div class="smalltext">Minutos</div>
    </div>
    <div>
      <span class="secondsSpan">00</span>
      <div class="smalltext">Segundos</div>
    </div>
  </div>
</section>
