<div id="cem-organisation">
  <div class="container text-center">

    <div class="cem-partners">
      <h4 class="col-md-3 center-no-float partners-header">
        <span>Organização</span>
      </h4>
    </div>

      <div class="flex-wrapper">

        <div class="partner-img">
          <a target="_blank" href="https://www.facebook.com/aisscuminho/"> {% image logos/AISSC.png class:aisc-img %} </a>
        </div>

        <div class="partner-img">
          <a target="_blank" href="http://cesium.di.uminho.pt/"> {% image logos/cesium.png class:'center-block img-responsive' %} </a>
        </div>

        <div class="partner-img">
          <a target="_blank" href="http://www.gaeb.pt/"> {% image logos/GAEB.png class:gaeb-img %} </a>
        </div>

        <div class="partner-img">
          <a target="_blank" href="https://www.facebook.com/NAMecUM/"> {% image logos/NaMecUM.png class:'center-block img-responsive' %} </a>
        </div>

        <div class="partner-img">
          <a target="_blank" href="https://www.facebook.com/NEEEICUM/"> {% image logos/NEEEICUM.png class:'center-block img-responsive' %} </a>
        </div>

        <div class="partner-img">
          <a target="_blank" href="https://www.facebook.com/NEEGIUM/"> {% image logos/NEEGIUM.png class:'center-block img-responsive' %} </a>
        </div>

        <div class="partner-img">
          <a target="_blank" href="https://www.facebook.com/NEEMAT.UMinho/"> {% image logos/NEEMAT.png class:'center-block img-responsive' %} </a>
        </div>

        <div class="partner-img">
          <a target="_blank" href="https://www.facebook.com/neep.uminho/"> {% image logos/NEEP.png class:'center-block img-responsive' %} </a>
        </div>


        <div class="partner-img">
          <a target="_blank" href="https://netiuminho.github.io/"> {% image logos/NETIUM.png class:netium-img %} </a>
        </div>
      </div>

      <div class="partner-img">
        <a target="_blank" href="https://www.facebook.com/NEEMAT.UMinho/"> {% image logos/NEEMAT.png class:'center-block img-responsive' %} </a>
      </div>

      <div class="partner-img">
        <a target="_blank" href="https://www.facebook.com/neep.uminho/"> {% image logos/NEEP.png class:'center-block img-responsive' %} </a>
      </div>


      <div class="partner-img">
        <a target="_blank" href="https://netiuminho.github.io/"> {% image logos/NETIUM.png class:netium-img %} </a>
      </div>
    </div>

  </div>
</div>
